<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <style>
        .form-control {
            max-width:200px
        }
        .data {
            height: 50%;
            width:40%;
        }
        .type_data {
            width: 50%;
            height: 30%;
        }
        .sensor {
            display:block;
            width:60%;
            margin-left:auto;
            margin-right:0;
        }
        .sens{
            display:inline-block;
        }
        .down {
            float:right;
        }
    </style>
    <div class="container">
        <br><br><br><br>
        <form action="/plota" method="POST" target="_blank">
            <div class="container">
                <div class="row">
                    <div class="data">
                        <h3>Data:</h3>
                        <div class="form-row">
                            <div class="col">
                                <label for="data_da">From</label>
                                <select id="data_da"name="data_da" class="form-control">
                                {%for day in days%}
                                    <option value="{{day}}">{{day}}</option>
                                {%endfor%}
                                </select>
                            </div>
                            <div class="col">
                                <label for="data_a">To</label>
                                <select id="data_a" name="data_a" class="form-control">
                                    {%for day in days%}
                                    <option value="{{day}}">{{day}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <!--
                        <div class="data">
                            <select class="form-control">
                            {%for hour in hours%}
                                <option value="{{hour}}">{{hour}}</option>
                            {%endfor%}
                            </select>
                        </div>-->
                    </div>
                    <div class="type_data">
                        <div class="row" style="text-align:center; margin:auto; padding-top:30px; padding-left:40px;">
                            <div class="form-check">
                                <input name="Risc" id="Risc" type="checkbox" >
                                <label for="Risc">Risc</label>
                            </div>
                            <div class="form-check">
                                <input name="Signal" id="Signal" type="checkbox" >
                                <label for="Signal">Signal</label>
                            </div>
                            <div class="form-check">
                                <input name="Volt" id="Volt" type="checkbox" >
                                <label for="Volt">Voltage</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="max-width:190px;">
                                <div class="form-check">
                                    <div class="form-check">
                                        <input name="Temp" id="Temp" type="checkbox" >
                                        <label for="Temp">Temperature</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="max-width:150px;">
                                    <div class="form-check">
                                        <input name="Hum%" id="Hum%" type="checkbox" >
                                        <label for="Hum%">Humidity %</label>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sensor">
                        <h3 style="padding-left:20px;">Sensor:</h3>
                        {%for i in range(1,number_sensor+1)%}
                         <div class="form-check sens">
                             <input name="sens_{{i}}" id="sens_{{i}}" type="checkbox" >
                             <label for="sens_{{i}}">{{i}}</label>
                         </div>
                        {%endfor%}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="data_sel">Data every:</label>
                        <select name="data_sel" id="data_sel" class="form-control">
                            <option value="0">1 Min</option>
                            <option value="1">5 Mins</option>
                            <option value="2">1 Hour</option>
                            <option value="3">5 Hours</option>
                            <option value="4">1 day</option>
                        </select>
                        <br>
                        <div class="form-check" style="padding-left:0px;">
                            <label for="media">Media of remaining data?</label>
                            <input name="media" id="media" type="checkbox">
                        </div>
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Create chart">
                <a class="down" href="/download/array_pickle" target="_blank">
                    <button class="btn btn-success" type="button">Download pickle</button>
                </a>
                <a class="down" href="/download/array_txt" target="_blank">
                    <button class="btn btn-success" type="button">Download txt</button>
                </a>
            </div>
        </form>

    </div>
</body>
</html>