<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aaaaa</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container">
        <br><br><br><br><br><br>
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link active"> UPLOAD FILE </a>
          </li>
        </ul>

        <form class ="form-group" action="/submit" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <input type="file" id="inputFile" name="myfile" hidden/>
                        <label for="inputFile" class="btn btn-info">Choose file</label>
                        <span id="file-chosen">  No file chosen</span><br>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="num_proc">number of process:</label>
                    </div>
                    <div class="col">
                        <label for="num_sens">number of sens:</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input class="number form-control" type="number" id="num_proc" name="num_proc" value="8">
                    </div>
                    <div class="col">
                        <input class="number form-control" type="number" id="num_sens" name="num_sens" value="8">
                    </div>
                </div>
                <br>
                <input class="btn btn-success" type="submit" value="Extract Data">
            </div>
        </form>
    </div>
<script src="../static/jscode.js"></script>
</body>
</html>